<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Ziploll: <br />Bug Tracker</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/allprojects">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>All Projects</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/assignedtome">
          <i class="fas fa-fw fa-folder"></i>
          <span>Assigned to Me</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/newproject">
          <i class="fas fa-fw fa-cog"></i>
          <span>New Project</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/newticket">
          <i class="fas fa-fw fa-table"></i>
          <span>New Ticket</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

    </ul>
