<%- include("partials/header") -%>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <h1 class="danger"> An error has occured with your authentication attempt. Please try again.</h1>

    </div>

  </div>

<%- include("partials/footer") -%>
